<ion-view>
  <ion-nav-title>
    <button class="button button-outline button-calm button-header button-small" ng-click="followStory()">Follow Story</button>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="shareArticle()">
      <i class="icon ion-ios-upload-outline"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div class="article-image">
        <img ng-src="{{article.image_url}}"/>
      </div>
      <div class='card padding'>
        <h4>{{article.title}}</h4>
        <p><a href="#/app/campaigns/{{article.campaign_id}}">Campaign</a></p>
        <p>{{article.published_at}}</p>
        <p>{{article.author}}</p>
      </div>
      <div class='card'>
        <p class='padding'>{{article.body}}</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
