<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
      
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()" class="sign-in item-icon-right">
          Sign Up/Sign In <i class="icon ion-ios-gear-outline"></i>
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/articles">
          <i class='icon ion-home'></i>
          Front Page
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/articles">
          <i class='icon ion-home'></i>
          Followed Stories
        </ion-item>
        <div class="item item-divider">
          Campaigns
        </div>
        <ion-item menu-close class='item-icon-left' href="#/app/campaigns">
          <i class='icon ion-home'></i>
          Campaigns
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/new/campaign">
          <i class='icon ion-home'></i>
          Start New Campaign
        </ion-item>
        <div class="item item-divider">
          Sections
        </div>
        <ion-item menu-close class='item-icon-left' href="#/app/search">
          <i class='icon ion-home'></i>
          Top Stories
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          Arts & Entertainment
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          Business & Economy
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          Enviroment
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          Health
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          Science
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          Sports
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          Technology
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          United States
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          U.S. Politics
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          World News
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          World Politics
        </ion-item>
        <ion-item menu-close class='item-icon-left' href="#/app/browse">
          <i class='icon ion-home'></i>
          Satirical News
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
